<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <link rel="stylesheet" href="/static/index-home.css">
</head>
<body>
    <main>
        <div class="bg-gradient">
            <div class="md:mt-40">
                <div class="h1">
                    <h1>Welcome to the App</h1>
                    <h1 id="title">Convert text to audio</h1>
                </div>
                <div class="max-w-screen-md md:m-auto m-3">
                    <p id="description" class="text-xl font-normal text-center">
                        convert your documents PDF's to audio using the text to speech tool </p>
                </div>
                <div class="flex justify-center items-center mt-10">
                    <a href="/convert" class="btn-container">Get Started for Free</a>
                </div>
            </div>
        </div>
    </main>
</body>
</html>
