<!DOCTYPE html>
<html>
<head>
  <title>Convertir PDF a Audio</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/intento.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.8.335/pdf.min.js"></script>
</head>
<body>
  <div class="container">
    <div class="form-row align-items-center">
      <div class="col-md-4 col-sm-12">
        <label for="archivoPdf">Seleccionar archivo PDF:</label>
        <input type="file" id="archivoPdf" accept=".pdf" maxlength="10485760">
      </div>
      <div class="col-md-4 col-sm-12">
        <label for="puntoInicio">Punto de inicio (página):</label>
        <input type="number" id="puntoInicio" min="1" step="1" class="form-control">
      </div>
      <div class="col-md-4 col-sm-12">
        <label for="idioma">Idioma:</label>
        <select id="idioma" class="form-control">
          <option value="es-ES">Español</option>
          <option value="en-US">Inglés</option>
          <!-- Agrega más opciones de idioma según tus necesidades -->
        </select>
      </div>
    </div>
    <div class="form-row align-items-center">
      <div class="col-md-3 col-sm-6">
        <button onclick="convertirPdfAAudio()" class="btn btn-primary btn-block">Convertir</button>
      </div>
      <div class="col-md-3 col-sm-6">
        <button onclick="stopAudio()" class="btn btn-danger btn-block">Detener audio</button>
      </div>
      <div class="col-md-3 col-sm-6">
        <button onclick="prevPage()" class="btn btn-secondary btn-block">Página anterior</button>
      </div>
      <div class="col-md-3 col-sm-6">
        <button onclick="nextPage()" class="btn btn-secondary btn-block">Siguiente página</button>
      </div>
    </div>
    <div class="form-row align-items-center">
      <div class="col">
        <div class="canvas-container">
          <canvas id="pdfCanvas"></canvas>
        </div>
      </div>
    </div>
  </div>
  <script src="/static/script.js"></script>
</body>
</html>